.ed-select.custom-select {
    height: calc(2rem + 2px);
}

img.ed-plus-sign {
    height: 20px;
    width: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img:hover.ed-plus-sign {
    opacity: 0.5;
}