<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Dojo</title>

  <!-- Fonts and icons -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="static/css/material-kit.css?v=2.0.5" rel="stylesheet" />
</head>

<body>
  {% block content %}
  {% endblock content %}
  <!--   Core JS Files   -->
  <script src="static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="static/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="static/js/plugins/moment.min.js"></script>
</body>

</html>
