{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="container">
    <div class="card col-lg-6 col-md-6 ml-auto mr-auto">
      <h3>Select your languages</h3>
      <form>
        <label for="learning">I'm learning...</label>
        <div id="learning-select">
          <select class="custom-select ed-select" id="learning1">
            <option>Select Your Language</option>
            <option>English</option>
            <option>Japanese</option>
          </select>
        </div>
        <label for="fluent">I'm fluent in...</label>
        <div id="fluent-select">
          <select class="custom-select ed-select" id="fluent1">
            <option>Select Your Language</option>
            <option>English</option>
            <option>Japanese</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <p></p>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="card col-lg-6 col-md-6 ml-auto mr-auto">
      <h3>Welcome to Edit Dojo! (Beta)</h3>
      <h4>How it works:</h4>
      <ol>
        <li>You write tweets in the language you're learning from your Twitter account.</li>
        <li>Native speakers of that language will edit your tweets so you can improve your writing skills.</li>
        <li>When you get an edit, you will receive a tweet from <a href="https://twitter.com/editdojo" target="_blank">@EditDojo</a>.</li>
        <li>In return, please edit other people's posts in your native tongue!</li>
        <li>NOTE: It's currently only available for Japanese and English. If you want to practice writing in other languages, please sign up for our waiting list here: <a href="https://www.csdojo.io/wait" target="_blank">https://www.csdojo.io/wait</a></li>
      </ol>
      <a href="{% provider_login_url 'twitter' %}">Sign Up/Sign In with Twitter</a>
    </div>
  </div>
  {% endif %}
{% endblock content %}
