{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}
<body class="sidebar-collapse">
  <!-- NOTE: the assumption of this template is that
             the user is not logged in yet.-->
  <nav
    class="navbar navbar-transparent fixed-top navbar-expand-lg"
    color-on-scroll="100"
    id="sectionsNav"
    style="position: absolute;"
  >
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">Edit Dojo</a>
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button> -->
      </div>
      <div class="collapse navbar-collapse"></div>
    </div>
  </nav>
  <div
    class="page-header header-filter"
    data-parallax="true"
    style="background-image: url('static/images/bg1.jpg')"
  >
  <!-- ImageSource: https://unsplash.com/photos/gwI6TcYPEUA by Robert V. Ruggiero-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto text-center">
          <h1 style="font-size: 60px; margin: 0;">
            Welcome to Edit Dojo!
            <span style="font-size:medium;">(Beta)</span>
          </h1>

          <h3 style="margin: 0px 0 40px 0;">Be a better writer.</h3>
          <a class="btn btn-primary btn-raised btn-lg" href="#detail">
            <i
              class="fa fa-chevron-circle-down"
              style="padding-right: 8px;"
            ></i
            >LEARN MORE
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section text-center" style="padding-top: 0; padding-bottom: 20px;">
        <div class="row">
          <div class="col-md-7 ml-auto mr-auto">
            <div class="section" id="detail">
              <h3 class="title">How it works</h3>
              <ol class="text-left">
                <li class="title" style="margin:0;">Write tweets</li>
                <p style="font-size:medium;">
                  You write tweets in the language you're learning from your
                  Twitter account.
                </p>
                <li class="title" style="margin:0;">Get feedback</li>
                <p style="font-size:medium;">
                  Native speakers of that language will edit your tweets.
                  When you get an edit, you will receive a tweet from <a href="https://twitter.com/EditDojo" target="_blank">@EditDojo</a>.
                </p>
                <li class="title" style="margin:0;">Help others</li>
                <p style="font-size:medium;">
                  In return, please edit other people's tweets in your native
                  tongue!
                </p>
              </ol>
              <a
                href="{% provider_login_url 'twitter' %}"
                class="btn btn-primary btn-raised btn-lg"
                style="margin:5px 0 16px 0;"
              >
                <i class="fa fa-twitter"></i> Sign up / sign in with Twitter
              </a>
              <p class="text-left description" style="margin-top: 20px;">
                NOTE: It's currently only available for Japanese and English.
                If you want to practice writing in other languages, please
                sign up for our waiting list here: <a
                  href="https://www.csdojo.io/wait" target="_blank"
                  >https://www.csdojo.io/wait</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <nav class="float-left">
        <ul>
          <!-- <li><a href="#">Give us feedback</a></li>
          <li><a href="#">Log out</a></li> -->
        </ul>
      </nav>
      <div class="float-right">
        <ul>
          <!-- <li><a href="#">Give us feedback</a></li>
          <li><a href="#">Log out</a></li> -->
        </ul>
      </div>
    </div>
  </footer>

  {% include "common_js.html" %}
  <script>
    // A function for scrolling when a user clicks an in-page link:
    $(function() {
      $('a[href^="#"]').click(function() {
        var speed = 500;
        var href = $(this).attr("href");
        var target = $(href == "#" || href == "" ? "html" : href);
        var position = target.offset().top;
        $("html, body").animate({ scrollTop: position }, speed, "swing");
        return false;
      });
    });
  </script>
</body>
{% endblock content %}
